body {
  font-size: 0.12rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;overflow: hidden; }

header {
  display: flex;
  font-size: 0.12rem;
  height: 0.44rem;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 0% 5% 0% 15%;
  position: relative;
  line-height: .44rem; }
  header span:nth-child(1) {
    position: absolute;
    left: .1rem; }
  header ul {
    margin-left: -.3rem;
    flex: 1;
    display: flex; }
    header ul li {
      flex: 1;
      text-align: center; }
      header ul li:hover {
        border-bottom: 1px solid #ccc;
        color: pink; }
    header ul li:first-child {
      border-bottom: 1px solid #ccc; }
  header span:nth-child(3) {
    position: absolute;
    right: .1rem;
    top: .01rem; }

main {
  position: relative;
  -webkit-flex: 1;
  overflow-y: scroll; }
  main .search {
    background: #e3e4e6;
    height: .39rem;
    margin-top: -.1rem;
    clear: both;
    line-height: .358rem; }
  main input {
    margin-left: 3%;
    margin-top: .09rem;
    width: 90%;
    display: block;
    border: 0 none;
    height: .4rem;
    -webkit-appearance: none;
    background: #fff;
    border-radius: 5px;
    padding-left: .8rem;
    padding-right: .5rem; }
  main span {
    position: absolute;
    left: 20%;
    top: 0; }
  main #banner {
    height: .98rem; }
    main #banner img {
      width: 100%;
      height: .98rem; }
  main .title {
    height: .32rem;
    border-bottom: 1px solid #ccc;
    line-height: .32rem; }
    main .title b {
      padding-left: .13rem;
      font-size: 12px;
      position: absolute; }
    main .title i {
      position: absolute;
      right: .1rem;
      font-size: 12px;
      color: orangered; }
  main .server {
    border-bottom: 6px solid #f0f0f0;
    position: relative; }
    main .server .serverOne {
      display: flex;
      border-bottom: 1px solid #ccc; }
      main .server .serverOne dt {
        padding-left: .13rem;
        padding-top: .13rem;
        padding-right: .1rem; }
        main .server .serverOne dt img {
          width: .67rem;
          height: .67rem; }
      main .server .serverOne dd {
        margin-bottom: .1rem; }
        main .server .serverOne dd p {
          margin-top: .1rem; }
          main .server .serverOne dd p a {
            font-size: 14px;
            padding-right: .12rem;
            color: orangered; }
          main .server .serverOne dd p img {
            width: .13rem;
            height: .13rem; }
        main .server .serverOne dd p:nth-child(2) {
          color: #ccc; }
        main .server .serverOne dd p:nth-child(3) {
          color: #ccc; }
      main .server .serverOne dd:nth-child(3) {
        position: absolute;
        right: .1rem;
        top: .23rem; }
        main .server .serverOne dd:nth-child(3) img {
          width: .32rem;
          height: .38rem; }
  main .nav {
    display: flex;
    margin-top: .1rem; }
    main .nav li {
      flex: 1;
      text-align: center; }
      main .nav li img {
        width: .405rem;
        height: .3rem; }
      main .nav li span {
        display: block; }

footer {
  height: 0.44rem;
  display: flex;
  border-top: 1px solid #ccc; }
  footer a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #666; }
    footer a .icon {
      font-size: .2rem;
      padding-top: .03rem; }
      footer a .icon span {
        font-size: .1rem;
        padding-top: .02rem; }

/*# sourceMappingURL=news.css.map */
